node_modules/
frontend/node_modules/
frontend/dist/
frontend/bindings/
bin/*
!bin/.gitkeep
build/bin/*
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
*.syso
!bin/.gitkeep
*.db
*.db-shm
*.db-wal
backend/license-data/
backend/.env
backend/private/
